<div class="col-md-12">
  <ol class="breadcrumb">
    <li><a href="/">Boards</a></li>
    <li><%= link_to "Board #{@group.title}", "/groups/#{@group.id}" %></li>
    <li class="active"><%= @post.title %></li>
  </ol>
  <div class="content content--border">
    <% if current_user && current_user.member_of?(@group) %>
      <%= link_to('Edit', edit_group_post_path(@post.group, @post), class: "btn btn-default pull-right mt-20") %>
    <% end %>
    <h3 class="mb-35"><small>Poster: <%= @post.user.email %></small></h3>
    <h3><%= @post.title %></h3>
    <hr />
    <p><%= sanitize @post.content %></p>
    <br />
  </div>
</div>